/* Estilos del modal */
.modal {
    display: block; /* Por defecto oculto */
    position: fixed; /* Posicionamiento fijo para que esté encima de la página */
    z-index: 1; /* Un valor alto para que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar el desplazamiento cuando el contenido sea demasiado grande */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  }
  
  /* Estilos del contenido del modal */
  .modal-content {
    background-color: #333;
    margin: 15% auto; /* Centrado verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    color: white;
  }
  
  /* Estilos del botón de cerrar */
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: aqua;
    text-decoration: none;
    cursor: pointer;
  }
  
 
  .grafica-container {
    width: 50vw;
    padding: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc; /* Gris */
    margin: 0 auto; 
  }

  .historico-container{
    width: 50vw;
    padding: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc; /* Gris */
    margin: 0 auto; 
  }
  
  